html {
    position: relative;
    font-size: 16px;
}

/*----------------------------Header--------------------------*/

.header {
    position: relative;
    width: 90%;
    min-width: 320px;
    height: 60px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @include MediaQuery("Tablet-Wide", max) {
        justify-content: center;
    }
    @include MediaQuery("Tablet-Small", max) {
        justify-content: initial;
        width: 100%;
    }
    .header__burger {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        @include Background("../img/menu/burger.png", center center, contain, no-repeat);
        @include MediaQuery("Tablet-Small", min) {
            display: none;
        }
    }
    .header__banner {
        position: absolute;
        left: 0;
        @include MediaQuery("Tablet-Small", min) {
            display: none;
        }
        .mobileHeading {
            @include Font("RalewayBold", null, 1.1rem, null);
            color: white;
            text-align: left;
            margin-left: 10px;
            .mobileHeading__sub {
                margin-left: 20px;
                font-family: "RalewayMedium";
            }
        }
    }
}

/*----------------------------Navigation--------------------------*/

.nav {
    min-width: 320px;
    .nav__list {
        padding: 0;
        margin: 0;
        height: 0;
        @include MediaQuery("Tablet-Small", max) {
            flex-direction: column-reverse;
        }
        .item {
            margin: 0 1.3vw;
            @include MediaQuery("Tablet-Small", max) {
                margin: 0;
                border-bottom: 1px solid black;
                width: 100%;
                background-color: white;
            }
            .item__a {
                @include Font("RalewayMedium", null, 1rem, null);
                display: flex;
                align-items: center;
                position: relative;
                @include Transition(transform, 0.4s, null, linear);
                @include MediaQuery("Tablet-Small", max) {
                    color: black;
                    justify-content: center;
                    padding: 5vmax
                }
                &::before {
                    @include MediaQuery("Tablet-Small", min) {
                        @include Pseudo("", null, 3px, 0%);
                        position: absolute;
                        left: -8px;
                        background-color: $RedColor;
                        @include Transition(height, 0.5s, null, linear);
                    }
                }
                &:hover::before {
                    height: 100%;
                    @include Transition(height, 0.3s, null, linear);
                }
                &:hover {
                    @include MediaQuery("Tablet-Small", min) {
                        @include Transition(transform, 0.3s, null, linear);
                        @include Transform(null, scale(1.1));
                    }
                }
            }
        }
        .item:first-child {
            margin-right: 0;
        }
        .item:last-child {
            margin-left: 0;
        }
    }
}

/*----------------------------Main--------------------------*/

main {
    .backgroundGradient {
        width: 100%;
        min-width: 320px;
        height: 38vmax;
        position: absolute;
        top: 0;
        z-index: -1;
        @include LinearGradient(rgba(0,0,0,1), rgba(47,47,47,1), 18%, 100%);
        @include MediaQuery("Tablet-Small", max) {
            display: none;
        }
    }
    .mainBackground {
        @include MediaQuery("Tablet-Small", max) {
            display: none;
        }
        background: url("../img/main/main.jpg");
        background-position: center;
        background-size: cover;
        width: 90%;
        height: 40vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .heading {
            @include Font("RalewayBold", null, 9vmax, null);
            text-align: center;
            margin: 0;
            padding: 0 2vw;
        }
        .heading--h1 {
            background-color: white;
            mix-blend-mode: screen;
            letter-spacing: 0.5rem;
        }
        .heading--h2 {
            background-color: $GrayColor;
            color: white;
            @include Font("RalewayThin", null, 5vmax, null);
        }
        .mainBackground__contact {
            width: 70%;
            position: absolute;
            background-color: blue;
            height: 100px;
        }
    }
}
